/* CSS Document */

$white: #fff;
$black: #222222;
$drkblue: #003249;
$midblue: #007ea7;
$lgtblue: #a9ede9;
// $hlblue: #cbe4e7;
$hlblue: #e5f1f1;
$lgtpink: #fbd6e3;

/* STRUCTURE & NAV */

body {
    max-width: 1920px;;
    background: #a9ede9;
    background: linear-gradient(to bottom, $lgtblue, $hlblue);
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    color: $black;
    height: 100vh;
    overflow-y: hidden;
}

header {
    background-color: $white;
    width: 100%;
    height: 120px;
    ul {
	list-style-type: none;
    li {
        display: inline;
    }
}
}
main {
    max-width: 1200px;
    height: calc(100% - 120px);
    margin: auto;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        max-width: 50%;
    }

    i {
        font-size: 3rem;
        margin: 0px 15px 0px 0px;
        color: $midblue;
        cursor: pointer;

        &:hover {
            color: $drkblue;
        }
    }
}

.container {
    width: 100vw;
    margin: auto;
}

#logo {
    height: 100px;
    cursor: pointer;
    fill: $midblue;
    stroke: $midblue;

    &:hover {
        fill: $drkblue;
        stroke: $drkblue;
    }
}

.top-nav {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    i {
        font-size: 2rem;
        margin: 20px;
        color: $midblue;
        cursor: pointer;

        &:hover {
            color: $drkblue;
        }
    }
}
#menu-btn   {
    display: none;
    width: 50px;
    position: absolute;
	top: 20px;
	right: 5px;
    text-align: center;
}

/* TEXT AND LINK STYLES */
h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

.blue-txt {
    color: $midblue;
}

a {
    text-decoration: none;
    color: $midblue;

    &:hover {
        color: $drkblue;
    }
}

.links {
    z-index: 999;
    font-weight: 700;
    display: flex;
    align-items: center;
    a {
        margin: 20px;
    }
}

.main-txt {
    margin-top: -100px;
    z-index: 99999;
}

.hero-header {
    margin: 20px 0px 20px 0px;
    h1,
    h2 {
        margin: 0;
    }
}


/* FACE SVG IN MAIN SECTION */
#face {
    z-index: 11;
    position: absolute;
    bottom: 0;
    right: 10%;
}

/* clouds */
.cloud {
    position: absolute;
    z-index: 1;
    top: 120px;
    right: 800px;
    height: 100px;
    width: 200px;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 24"><path fill="%23fff" d="M33.85 14.388c-.176 0-.343.034-.513.054a6.272 6.272 0 00-5.993-8.124c-.38 0-.752.039-1.113.104C24.874 2.677 21.293 0 17.083 0c-5.379 0-9.739 4.361-9.739 9.738 0 .418.035.826.084 1.229a6.378 6.378 0 00-1.155-.11 6.273 6.273 0 00-.001 12.544c.214 0 27.156.109 27.577.109a4.561 4.561 0 00.001-9.122z"/></svg>');
    background-repeat: no-repeat;
    animation: slider 50s linear infinite forwards reverse;
}
    .cloud2 {
        position: absolute;
        z-index: 1;
        top: 700px;
        right: 1150px;
        height: 50px;
        width: 150px;
        background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 24"><path fill="%23fff" d="M33.85 14.388c-.176 0-.343.034-.513.054a6.272 6.272 0 00-5.993-8.124c-.38 0-.752.039-1.113.104C24.874 2.677 21.293 0 17.083 0c-5.379 0-9.739 4.361-9.739 9.738 0 .418.035.826.084 1.229a6.378 6.378 0 00-1.155-.11 6.273 6.273 0 00-.001 12.544c.214 0 27.156.109 27.577.109a4.561 4.561 0 00.001-9.122z"/></svg>');
        background-repeat: no-repeat;
        animation: slider 42s linear infinite forwards reverse;
    }
    .cloud3 {
        position: absolute;
        z-index: 1;
        top: 300px;
        right: 900px;
        height: 80px;
        width: 100px;
        background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 24"><path fill="%23fff" d="M33.85 14.388c-.176 0-.343.034-.513.054a6.272 6.272 0 00-5.993-8.124c-.38 0-.752.039-1.113.104C24.874 2.677 21.293 0 17.083 0c-5.379 0-9.739 4.361-9.739 9.738 0 .418.035.826.084 1.229a6.378 6.378 0 00-1.155-.11 6.273 6.273 0 00-.001 12.544c.214 0 27.156.109 27.577.109a4.561 4.561 0 00.001-9.122z"/></svg>');
        background-repeat: no-repeat;
        animation: slider 27s linear infinite forwards reverse;
    }
    .cloud4 {
        position: absolute;
        z-index: 1;
        top: 450px;
        right: 1600px;
        height: 80px;
        width: 120px;
        background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 24"><path fill="%23fff" d="M33.85 14.388c-.176 0-.343.034-.513.054a6.272 6.272 0 00-5.993-8.124c-.38 0-.752.039-1.113.104C24.874 2.677 21.293 0 17.083 0c-5.379 0-9.739 4.361-9.739 9.738 0 .418.035.826.084 1.229a6.378 6.378 0 00-1.155-.11 6.273 6.273 0 00-.001 12.544c.214 0 27.156.109 27.577.109a4.561 4.561 0 00.001-9.122z"/></svg>');
        background-repeat: no-repeat;
        animation: slider 30s linear infinite forwards reverse;
    }
#clouds {
    z-index: 1;
    position:absolute;
    height: 800px;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

@keyframes slider {
    from {
        transform: translateX(-1000%);
    }
    to {
        transform:translateX(1000%)
       }
}

/* MEDIA QUERIES - FACE */
@media only screen and (max-width: 1700px) {
    #face {
        height: 50%;
    }
}

@media only screen and (max-width: 1600px) {
    #face {
        height: 48%;
    }
    .main-txt {
        margin-top: -200px;
    }
}

@media only screen and (max-width: 1100px) {
    main p {
        max-width: 100%;
    }
    #face {
        height: 35%;
    }
}

@media only screen and (max-width: 768px) {
    #face {
        display: none;
    }
    #menu-btn {
        display: block;
    }
    #h_nav	{
        display: none;
        align-content: center;
        align-items: center;
    }
    .links {
        align-content: center;
    }
    header ul li {
        display: block;
        margin: 50px;
        font-size: 3rem;
    }
}
@media only screen and (min-width: 768px) {
    #h_nav	{
        display: inline;
    }
}


/* ANIMATION */
.animate-logo path {
    stroke-dasharray: 210;
    stroke-dashoffset: 210;
    stroke-linecap: round;
    -webkit-animation: dash 2s forwards;
    animation: dash 2s forwards
}

.animate-logo g {
    -webkit-animation: fill-in 1s 1s forwards;
    animation: fill-in 1s 1s forwards;
    fill-opacity: 0
}

.animate-logo2 path {
    stroke-dasharray: 210;
    stroke-dashoffset: 210;
    stroke-linecap: round;
    -webkit-animation: dash2 2s forwards;
    animation: dash2 2s forwards
}

.animate-logo2 g {
    -webkit-animation: fill-in2 1s 1s forwards;
    animation: fill-in2 1s 1s forwards;
    fill-opacity: 0
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes fill-in {
    to {
        fill-opacity: 1
    }
}

@keyframes fill-in {
    to {
        fill-opacity: 1
    }
}

@-webkit-keyframes dash2 {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes dash2 {
    to {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes fill-in2 {
    to {
        fill-opacity: 1
    }
}

@keyframes fill-in2 {
    to {
        fill-opacity: 1
    }
}

/* END CSS DOC */