/* CSS Document */
/* STRUCTURE & NAV */
body {
  background: #a9ede9;
  background: linear-gradient(to bottom, #a9ede9, #cbe4e7);
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
  color: #222222;
  height: 100vh;
  overflow-y: hidden;
}

header {
  background-color: #fff;
  width: 100%;
  height: 120px;
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline;
}

main {
  max-width: 1200px;
  height: calc(100% - 120px);
  margin: auto;
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main p {
  max-width: 50%;
}
main i {
  font-size: 3rem;
  margin: 0px 15px 0px 0px;
  color: #007ea7;
  cursor: pointer;
}
main i:hover {
  color: #003249;
}

.container {
  width: 100vw;
  margin: auto;
}

#logo {
  height: 100px;
  cursor: pointer;
  fill: #007ea7;
  stroke: #007ea7;
}
#logo:hover {
  fill: #003249;
  stroke: #003249;
}

.top-nav {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.top-nav i {
  font-size: 2rem;
  margin: 20px;
  color: #007ea7;
  cursor: pointer;
}
.top-nav i:hover {
  color: #003249;
}

#menu-btn {
  display: none;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 5px;
  text-align: center;
}

/* TEXT AND LINK STYLES */
h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.blue-txt {
  color: #007ea7;
}

a {
  text-decoration: none;
  color: #007ea7;
}
a:hover {
  color: #003249;
}

.links {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.links a {
  margin: 20px;
}

.main-txt {
  margin-top: -100px;
}

.hero-header {
  margin: 20px 0px 20px 0px;
}
.hero-header h1,
.hero-header h2 {
  margin: 0;
}

/* FACE SVG IN MAIN SECTION */
#face {
  position: absolute;
  bottom: 0;
  right: 10%;
}

/* MEDIA QUERIES - FACE */
@media only screen and (max-width: 1700px) {
  #face {
    height: 50%;
  }
}
@media only screen and (max-width: 1600px) {
  #face {
    height: 48%;
  }
  .main-txt {
    margin-top: -200px;
  }
}
@media only screen and (max-width: 1100px) {
  main p {
    max-width: 100%;
  }
  #face {
    height: 35%;
  }
}
@media only screen and (max-width: 768px) {
  #face {
    display: none;
  }
  #menu-btn {
    display: block;
  }
  #h_nav {
    display: none;
    align-content: center;
    align-items: center;
  }
  .links {
    align-content: center;
  }
  header ul li {
    display: block;
    margin: 50px;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  #h_nav {
    display: inline;
  }
}
/* ANIMATION */
.animate-logo path {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  stroke-linecap: round;
  -webkit-animation: dash 2s forwards;
  animation: dash 2s forwards;
}

.animate-logo g {
  -webkit-animation: fill-in 1s 1s forwards;
  animation: fill-in 1s 1s forwards;
  fill-opacity: 0;
}

.animate-logo2 path {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  stroke-linecap: round;
  -webkit-animation: dash2 2s forwards;
  animation: dash2 2s forwards;
}

.animate-logo2 g {
  -webkit-animation: fill-in2 1s 1s forwards;
  animation: fill-in2 1s 1s forwards;
  fill-opacity: 0;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill-in {
  to {
    fill-opacity: 1;
  }
}
@keyframes fill-in {
  to {
    fill-opacity: 1;
  }
}
@-webkit-keyframes dash2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill-in2 {
  to {
    fill-opacity: 1;
  }
}
@keyframes fill-in2 {
  to {
    fill-opacity: 1;
  }
}
/* END CSS DOC *//*# sourceMappingURL=styles.css.map */